/*** Colores ***/

$azul_oscuro: rgb(12, 52, 81);
$azul_claro: rgb(74, 150, 210);
$azul_medio: rgb(0, 93, 159);
$rojo: rgb(223, 52, 37);
$naranja: rgb(239, 166, 65);

header {
    background: linear-gradient(to right, $rojo, $naranja);
}

.backgroundRojo {
    background-color: $rojo;
}
.gradienteRojizo {
    background: linear-gradient(to right, $rojo, $naranja);
}
.colorBoxMenu {
    background-color: $azul_medio;
}
.letraNaranja {
    color: $rojo;
}