/*** Grids ***/

#gridParrafo {
    display: grid;
    grid-area: 
    "tituloMedio"
    "parrafo";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
#gridTituloMedio {
    grid-area: tituloMedio;
}
#gridParrafo {
    grid-area: parrafo;
}

/*** Sectores **/

#gridGen {
    display: grid;
    grid-template-areas:
    "sector aside"
    "spoti aside";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 1fr;
}

#gridSector {
    grid-area: sector;
}
#gridSpoti {
    grid-area: spoti;
    display: grid;
    grid-template-areas:
    "spoti1 spoti2" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#gridAside {
    grid-area: aside;
}

#spoti1{
    grid-area: spoti1;
}
#spoti2{
    grid-area: spoti2;
}




@media (max-width: 599px){

    #gridParrafo {
        display: grid;
        grid-area: 
        "tituloMedio"
        "parrafo";
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    #gridTituloMedio {
        grid-area: tituloMedio;
    }
    #gridParrafo {
        grid-area: parrafo;
    }

    #gridHeader {
        display: grid;
        grid-template-areas: 
        "logo"
        "titulo";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #gridLogo {
        grid-area: logo;
    }
    #gridTitulo {
        grid-area: titulo;
    }

    #gridNav {
        display: grid;
        grid-template-areas: 
        "inicio consultoria cx"
        "logistica contacto contacto"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #inicio {
        grid-area: inicio;
    }
    #consultoria {
        grid-area: consultoria;
    }
    #cx {
        grid-area: cx;
    }
    #logistica {
        grid-area: logistica;
    }
    #contacto {
        grid-area: contacto;
    }


    
}

@media (min-width: 600px) and (max-width: 1199px){

    #gridHeader {
        display: grid;
        grid-template-areas: 
        "logo"
        "titulo";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #gridLogo {
        grid-area: logo;
    }
    #gridTitulo {
        grid-area: titulo;
    }

    #gridNav {
        display: grid;
        grid-template-areas: 
        "inicio consultoria cx logistica contacto"
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #inicio {
        grid-area: inicio;
    }
    #consultoria {
        grid-area: consultoria;
    }
    #cx {
        grid-area: cx;
    }
    #logistica {
        grid-area: logistica;
    }
    #contacto {
        grid-area: contacto;
    }
    
}

@media (min-width: 1200px){

    #gridHeader {
        display: grid;
        grid-template-areas: 
        "logo"
        "titulo";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #gridLogo {
        grid-area: logo;
    }
    #gridTitulo {
        grid-area: titulo;
    }

    #gridNav {
        display: grid;
        grid-template-areas: 
        "inicio consultoria cx logistica contacto"
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #inicio {
        grid-area: inicio;
    }
    #consultoria {
        grid-area: consultoria;
    }
    #cx {
        grid-area: cx;
    }
    #logistica {
        grid-area: logistica;
    }
    #contacto {
        grid-area: contacto;
    }
    
}