/** Imagenes **/


.imagLogo {
    width: 300px;
}


@media (max-width: 599px){

    .backgroundMain {
        background-image: url(../imagenes/morph_blanco.jpg);
        background-size: cover ;
    }

    
}

@media (min-width: 600px) and (max-width: 1199px){

    .backgroundMain {
        background-image: url(../imagenes/morph_blanco.jpg);
        background-size: cover ;
    }
    
}

@media (min-width: 1200px){

    .backgroundMain {
        background-image: url(../imagenes/morph_blanco.jpg);
        background-size: cover ;
    }

}