/*** Letras ***/

$titulo: 40px;
$azul_oscuro: rgb(12, 52, 81);
$azul_claro: rgb(74, 150, 210);
$azul_medio: rgb(0, 93, 159);
$rojo: rgb(223, 52, 37);
$naranja: rgb(239, 166, 65);


.sombraBlanca {
    text-shadow: white 3px 3px 3px;
}
.sombraNegraFina {
    text-shadow: black 1px 1px 1px;
}
.sombraNegraMedia {
    text-shadow: black 2px 2px 2px;
}
.negrita {
    font-weight: 900;
}
.sinPunto {
    list-style: none;
}
.textAlin {
    text-align: center;
}
.sinDeco {
    text-decoration: none;
}
.sinDeco2 {
    text-decoration: none;
}
.sinDeco2:hover {
    color: black;
    font-weight: 900;
}

.conPunto1 {
    list-style: disc;
    list-style-position: inside;
}

h2, p {
    color: $azul_oscuro;
}

.color1 {
    color: $azul_oscuro;
}
.color2 {
    color: $rojo;
}


@media (min-width: 360px) and (max-width: 599px){

    .conPunto2 {
        list-style: circle;
        list-style-position: unset;
        margin: 0 0 0 15px;
    }
    
}

@media (min-width: 600px) and (max-width: 1199px){
    
    .conPunto2 {
        list-style: circle;
        list-style-position: unset;
        margin: 0 0 0 15px;
    }

    .letraParrafo {
        font-size: $titulo - 15px;
    }
    .tituloH2 {
        font-size: $titulo - 10px;
    }

}

@media (min-width: 1200px){

    h1 {
        font-size: $titulo;
        color: $azul_oscuro;
    }
    h2 {
        font-size: $titulo - 10px;
        color: $azul_oscuro;
    }
    p {
        font-size: $titulo - 20px;
        color: $azul_oscuro;
    }
    .conPunto2 {
        list-style: circle;
        list-style-position: unset;
        margin: 0 0 0 15px;
    }
  
    .letraParrafo {
        font-size: $titulo - 10px;
    }
    .tituloH2 {
        font-size: $titulo - 5px;
    }
    
}